* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: #777 url(blossoms.jpg) no-repeat bottom right;
  color: #eee;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
