/* Taste the Rainbow */
/* Regular */
body {
  background: #4a789c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  background-color: #eee;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  margin: 50px auto 0 auto;
  max-width: 650px;
  padding: 60px;
}

.logo {
  margin: 4rem auto;
  width: 200px;
}
.logo > img {
  max-width: 100%;
}

blockquote {
  border-left: #ccc 2px solid;
  color: #777;
  margin-left: 0;
  padding-left: 1rem;
}
