/* General */
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: green url(../../images/alpine-meadow-tile.jpg) repeat left top;
  color: #753555;
  font-size: 100%;
  line-height: 1.9;
  margin: 0;
  padding: 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 1.7rem;
  font-weight: normal;
}

h3 {
  color: #7D775C;
  letter-spacing: 1px;
  margin-bottom: 0;
  text-transform: uppercase;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #B7A5DF;
}

a:visited {
  color: #D4CDDC;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #9685BA;
  text-decoration: underline;
}

/* Structure */
.container {
  max-width: 750px;
  padding: 1.5rem;
  margin: 40px auto;
  position: relative;
}

.col {
  display: block;
  float: left;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  width: 100%;
}

.col:first-child {
  padding-left: 0;
}

.col:last-child {
  padding-right: 0;
}

.primary {
  width: 75%;
}

.secondary {
  width: 25%;
}

.site-footer {
  background-color: #753555;
  color: #fff;
  margin-top: 2rem;
  padding-top: 2rem;
  min-height: 4rem;
}

.site-footer__inner {
  padding-bottom: 2rem;
}

.nav-area {
  margin-top: 4.5rem;
}

.main-nav {
  font-size: 1.5rem;
  text-align: right;
  vertical-align: bottom;
}

.main-nav__item {
  background: #FFF;
  border-radius: .25rem;
  font-weight: normal;
  margin-left: 1rem;
  padding: .6rem .6rem;
  transition: all .15s ease-in-out;
}

.main-nav__item:hover {
  background: #753555;
  color: #fff;
  text-decoration: none;
}

/* Typography */
.typo-logo__foodie {
  display: block;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: .23rem;
  text-transform: lowercase;
}

.half-fade {
  opacity: .5;
}

.typo-logo {
  font-size: 1.5rem;
  letter-spacing: .4rem;
  line-height: 3rem;
  margin-top: 0;
  text-transform: uppercase;
}

.huge {
  font-size: 5rem;
}

/* Lists */
.list--clear {
  list-style: none;
}

.list--flush {
  padding: 0;
}

.list--ruled > li {
  border-bottom: 1px #ccc solid;
}

/* Pages */
.entry__attribution {
  color: #7D775C;
  font: italic normal 1rem georgia, sans-serif;
}

.entry__attribution > a {
  color: #7D775C;
}

.entry__title {
  margin-bottom: 0;
  margin-top: 0;
}

.elsewhere {
  margin-top: 1rem;
}

.elsewhere__title {
  margin-top: 0;
}

.rating-percent {
  background: #ddd;
  border-radius: .5rem;
  margin-left: .25rem;
  padding: .25rem .5rem;
}

.price--gray {
  color: #aaa;
}

.cuisines {
  color: #7D775C;
}

.address {
  color: #aaa;
  display: block;
}

.restaurant {
  margin-bottom: .75rem;
}

.wine-glass {
  bottom: 0;
  height: 180px;
  width: 120px;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.wine-glass:hover .wine-glass__itself {
  bottom: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.wine-glass__itself {
  max-width: 100%;
  transition: all .5s ease-in-out;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
