/* General */
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: green url(../../images/alpine-meadow-tile.jpg) repeat left top;
  font-family: 'Questrial', sans-serif;
  color: #333;
  font-size: 100%;
  line-height: 1.9;
  margin: 0;
  padding: 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
  text-transform: uppercase;
}

h2 {
  color: red;
}

h3 {
  color: blue;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul > li {
  padding: 0;
  margin: 0;
  border-top: 1px #ccc solid;
}

img {
  max-width: 100%;
}

/* Structure */
.wrapper {
  text-align: center;
  max-width: 750px;
  background: white;
  padding: 1.5rem;
  margin: 40px auto;
  position: relative;
  border-radius: .25em;
}

.picnic {
  max-width: 30%;
}

.daisy-top-left {
  background: transparent url(../../images/white-daisy.png) left top;
  background-size: cover;
  width: 140px;
  height: 140px;
  position: absolute;
  left: -60px;
  top: -60px;
  -webkit-animation: rotating 1.7s linear infinite;
}

.daisy-bottom-left {
  background: transparent url(../../images/white-daisy.png) left top;
  background-size: cover;
  width: 140px;
  height: 140px;
  position: absolute;
  left: -60px;
  bottom: -60px;
  -webkit-animation: rotating 1.3s linear infinite;
}

.daisy-top-right {
  background: transparent url(../../images/white-daisy.png) left top;
  background-size: cover;
  width: 140px;
  height: 140px;
  position: absolute;
  right: -60px;
  top: -60px;
  -webkit-animation: rotating 1.9s linear infinite;
}

.daisy-bottom-right {
  background: transparent url(../../images/white-daisy.png) left top;
  background-size: cover;
  width: 140px;
  height: 140px;
  position: absolute;
  right: -60px;
  bottom: -60px;
  -webkit-animation: rotating 2.3s linear infinite;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
